# --- IDE / Editor ---
# JetBrains
.idea/
*.iml

# VSCode
.vscode/

# --- C / C++ ---
# CMake
cmake-build/
cmake-build-*/

# --- Python ---
# Cache
__pycache__/

# Environment
.venv/

# Lockfile
uv.lock

# --- Projects ---
# Kusai Mastodon
config.yaml
state.json
