# --- IDE / Editor ---
# JetBrains
.idea/
*.iml

# VSCode
.vscode/

# --- Tools ---
# CMake
cmake-build/
cmake-build-*/

# Python
__pycache__/
.venv/
uv.lock

# --- Projects ---
# Kusai Mastodon
config.yaml
state.json

# Teardown Promo
teardown-promo/dist/
